.chip {
    border: 0;
    border-radius: 15px;
    cursor: default;
    display: inline-flex;
    max-width: 100%;
    outline: 0;
    padding: 5px 12px;
    position: relative;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    line-height: normal;
    margin: 4px;
}

    .chip > .chipContent {
        align-items: center;
        display: inline-flex;
        height: 100%;
        max-width: 100%;
        user-select: none;
    }

.chipSizeMedium {
    height: 32px;
    font-size: 14px;
    border-radius: 16px;
}

.chipIcon:hover {
    cursor: pointer;
}

.chipIcon > a {
    margin-left: 6px;
}

.chipColorDefault {
    color: black;
    background-color: lightgray;
}

.chipColorDefaultOutlined {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.chipColorAliceBlue {
    color: cornflowerblue;
    background-color: aliceblue;
}

.chipColorAliceBlueOutlined {
    color: cornflowerblue;
    background-color: white;
    border: 1px solid cornflowerblue;
}

.chipColorHoneyDew {
    color: darkgreen;
    background-color: honeydew;
}

.chipColorHoneyDewOutlined {
    color: darkgreen;
    background-color: white;
    border: 1px solid darkgreen;
}

.chipColorLavender {
    color: rebeccapurple;
    background-color: lavender;
}

.chipColorLavenderOutlined {
    color: rebeccapurple;
    background-color: white;
    border: 1px solid rebeccapurple;
}

.chipColorLavenderBlush {
    color: maroon;
    background-color: lavenderblush;
}

.chipColorLavenderBlushOutlined {
    color: maroon;
    background-color: white;
    border: 1px solid maroon;
}

.chipColorLinen {
    color: saddlebrown;
    background-color: linen;
}

.chipColorLinenOutlined {
    color: saddlebrown;
    background-color: white;
    border: 1px solid saddlebrown;
}

.chipColorPowderBlue {
    color: navy;
    background-color: powderblue;
}

.chipColorPowderBlueOutlined {
    color: navy;
    background-color: white;
    border: 1px solid navy;
}

.chipColorThistle {
    color: maroon;
    background-color: thistle;
}

.chipColorThistleOutlined {
    color: maroon;
    background-color: white;
    border: 1px solid maroon;
}
