.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.content {
    flex:1;
    margin-left: 10px;
}
